---
import { type PokemonType } from "../lib/models/pokemonModels";
import { capitalizeFirstLetter, mapId, TypeColors, TypesEs, Typesvg } from "../lib/utils/utils";

const {pokemon} = Astro.props;
const { id, name, image, types } = pokemon;
---
<a href={`/pokemon/${id}`} 
   class="w-full lg:w-60 lg:h-60 2xl:w-72 2xl:h-72 p-2 bg-white/95
          flex flex-col items-center rounded-2xl cursor-pointer
          hover:bg-gray-100 hover:scale-105 transition-all duration-300">

    <img class="w-24 h-24 sm:w-28 sm:h-28" src={image}
         alt={`Una foto de ${name}`} 
         transition:name="media-image-${name}"/>

         <h3 class="text-xl sm:text-2xl font-bold tracking-wide truncate w-full max-w-xs overflow-hidden text-ellipsis whitespace-nowrap text-center">
            {capitalizeFirstLetter(name)}
        </h3>
        
        
    <p class="text-xs sm:text-sm tracking-wide p-1">No. {mapId(id)}</p>

    <div class="flex flex-wrap justify-center mt-2 p-1 gap-2">
        {types.map((types : PokemonType) => (
            <div class={`flex items-center px-2 py-1 gap-1 border-2 ${TypeColors[types.type.name]} rounded-xl`}>
                <img
                    src={`${Typesvg[types.type.name]}`}
                    alt={`${TypesEs[types.type.name]} icon`}
                    class="w-4 h-4" 
                />
                <p class="opacity-80 text-gray-800 text-center font-medium tracking-wide">
                    {`${TypesEs[types.type.name]}`}
                </p>
            </div>
        ))}
    </div>

</a>
